footer {
    background-color: #c9aaa6;
    font-size: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    position:relative;
    width: 100%;
    bottom: 0;
    font-family:'poppins', sans-serif;
}

.konten1 {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.konten1 p {
    font-size: 27px;
    font-family:'poppins', sans-serif;
    padding-left: 50px;
    justify-content: center;
}

.konten2 {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 25px;
}